

img{
	transition: 0.3s;
	display: flex !important;
	font-size: 30px !important;
	
}

tr td{
	padding: 1px !important;
	margin: 0 !important;
  }

a:hover:nth-child(2){
	transform: translate(5px, -5px);
	size: 100%;
	opacity: 1;
}
a:hover:nth-child(1){
	transform: translate(1px, -1px);
	
	opacity: .4;
}